﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<KitchenSync.Lib.Models.Interfaces.Video.IVideoContent>

<div class="contentTitle">@Editable(b => b.Title)</div>
<div class="contentText">
    @Html.Raw(Model.YouTubeHTML)
</div>
