﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<KitchenSync.Lib.Models.Interfaces.Core.IGeneralContent>

<div class="contentTitle">@Editable(b=>b.Title)</div>
<div class="contentText">
    @Editable(Model, m => m.Description, m=>KitchenSync.Lib.Utils.HelperFactory.PTaggedHTML(m.Description ))
</div>
