﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<KitchenSync.Lib.Models.Interfaces.Core.ISharedMedia>

@{    
    string img = "";
    if (Model != null && Model.BannerImage != null && !string.IsNullOrEmpty(Model.BannerImage.Src))
    {
        img = "background-image: url('" + Model.BannerImage.Src + "');\"";
    }
}
<div id="mainPicture">
    <div class="picture" style="@img">
        <div id="headerTitle">An Ocean of Sky</div>
        <div id="headerSubtext">An XHTML 1.0 Strict Template by Bryant Smith</div>
    </div>
</div>