﻿@model List<KitchenSync.Lib.Models.Objects.Navigation.NavigationItem>

@if (Model == null || Model.Count < 1)
{
    return;
}

<div id="page">
    @foreach (KitchenSync.Lib.Models.Objects.Navigation.NavigationItem item in Model)
    { 
        <text>
            <div class="topNaviagationLink"><a href="@item.URL">@item.Name</a></div>        
        </text>
    }
</div>
