﻿@using Sitecore.Mvc

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.Partial("~/Views/KitchenSync/Shared/_header.cshtml")
    @Html.Partial("~/Views/KitchenSync/Shared/_meta.cshtml")
</head>

<body>
    @Html.Sitecore().Placeholder("topmenu")
    @Html.Sitecore().Placeholder("maincontent")
    @Html.Sitecore().Placeholder("footermenu")
    @Html.Partial("~/Views/KitchenSync/Shared/_footer.cshtml")
</body>
</html>
